[mysqld]
lower_case_table_names=1
user=mysql
server-id=1
log-bin
binlog-format=MIXED
gtid-mode=ON
enforce-gtid-consistency=true
character-set-server=utf8
collation-server=utf8_unicode_ci
skip-character-set-client-handshake
